/* global.css */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #121212; /* main background */
  color: #e0e0e0;
}

h2, h3 {
  color: #fff;
  font-weight: 600;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

input, select, textarea {
  border-radius: 6px;
  border: 1px solid #444;
  padding: 8px;
  background-color: #222;
  color: #fff;
  font-size: 0.95rem;
}

input::placeholder, textarea::placeholder {
  color: #aaa;
}
