.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.card h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #1e3c72;
}

.card input,
.card select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.card button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #1e3c72;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background: #2a5298;
}
